<div class="container py-5">
  <h1 class="text-center mb-5">Leaderboard</h1>
  <app-difficulty-select class="mb-5" [activeId]="activeFilterId"
    (levelClick)="filterClickHandler($event)"
  />
  <div class="row" *ngIf="!loading">
    <div class="col-12 col-md-9 col-lg-8 mx-auto">
      <ng-container *ngIf="!!filteredScores.length; else emptyFilter">
        @for (item of filteredScores; track item.dateCreated; let i = $index;) {
          <app-leaderboard-item [index]="i" [item]="item" />
        }
      </ng-container>


      <ng-template #emptyFilter>
        <p class="lead text-center">
          <span>No results for this level! </span>
          <a [routerLink]="['/game']" 
            [queryParams]="{levelId: activeFilterId}"
          >Play a game</a>
          <span> and record your result to begin.</span>
        </p>
      </ng-template>
    </div>
  </div>
</div>
