<div class="container pt-5" *ngIf="scores | async as scores">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-8 mx-auto">
      <h1 class="text-center mb-4">Leaderboard</h1>
      <ng-container *ngIf="!!scores.length; else empty">
        @for (item of scores; track item; let i = $index) {
          <div class="px-4 py-3 d-flex align-items-center justify-content-between border rounded mb-4 shadow"
            [ngClass]="{
              'border-primary': !i
            }"
          >
            <div class="">
              <div class="me-4 mb-2">
                <app-leaderboard-position [position]="i" />
                <h2 class="h4 mb-0">{{ item.playerName.toUpperCase() }}</h2>
              </div>
              <p class="mb-0 text-muted small">Completed {{ item.dateCreated | date: 'dd.MM.yyyy' }}</p>
            </div>
            <div>
              <app-score-circle 
                [score]="item.score" 
                [index]="i"
              />
            </div>
          </div>
        }
      </ng-container>
      <ng-template #empty>
        <p class="lead text-center">
          <span>No results yet! </span>
          <a routerLink="/game">Play a game</a>
          <span> and record your result to begin.</span>
        </p>
      </ng-template>
    </div>
  </div>
</div>
