<div class="container pt-5" *ngIf="scores | async as scores">
  <div class="row">
    <div class="col-12 col-md-9 col-lg-8 mx-auto">
      <h1 class="text-center mb-4">Leaderboard</h1>
      <ng-container *ngIf="!!scores.length; else empty">
        @for (item of scores; track item; let i = $index) {
          <app-leaderboard-item [index]="i" [item]="item" />
        }
      </ng-container>
      <ng-template #empty>
        <p class="lead text-center">
          <span>No results yet! </span>
          <a routerLink="/game">Play a game</a>
          <span> and record your result to begin.</span>
        </p>
      </ng-template>
    </div>
  </div>
</div>
