<div class="px-4 py-3 d-flex align-items-center justify-content-between rounded mb-4 shadow"
[ngClass]="{
  'leaderboard-item--champion': !index,
  'border': !!index
}"
>
<div class="">
  <div class="me-4 mb-2">
    <app-leaderboard-position [position]="index" />
    <h2 class="h4 mb-0">{{ item.playerName.toUpperCase() }}</h2>
  </div>
  <p class="mb-0 text-muted small">Completed {{ item.dateCreated | date: 'dd.MM.yyyy' }}</p>
</div>
<div>
  <app-score-circle 
    [score]="item.score" 
    [index]="index"
  />
</div>
</div>