<footer class="py-5 bg-secondary">
  <div class="container">
    <ul class="list-unstyled mb-0">
      <li class="mb-2">
        <span role="img" aria-label="Astronaut emoji" class="me-2">🧑‍🚀</span>
        <span>
          Work completed by  
          <a href="http://www.davidallenby.com" target="_blank">
            David Allenby
          </a>
        </span>
      </li>
      <li>
        <span role="img" aria-label="Rocket emoji" class="me-2">🚀</span>
        <span>
          Application built with
          <a href="http://angular.dev" target="_blank">Angular</a> & 
          <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>
        </span>
      </li>
    </ul>
  </div>
</footer>