<div class="home container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="d-flex align-items-center h2">
        <span class="me-3">Hello there</span>
        <div class="animate-wave">
          <span role="img" aria-label="Waving hand">👋</span>
        </div>
      </div>
      <p>
        Thanks for checking out my Angular repo! I set this up as a way to
        guide new Angular devs towards some of the Angular best practices. This repo covers the main concepts of Angular, and how best to approach them.
      </p>
    </div>
  </div>
</div>
