@import '../../../../styles/variables';

.mole {
  position: absolute;
  width: 80%;
  height: 75%;
  left: 50%;
  bottom: -100%;
  transition: .25s;
  transform: translateX(-50%);
  background-color: $color-mole-regular;
  will-change: bottom;

  &:hover {
    cursor: pointer;
  }

  &.show {
    bottom: 0;
  }

  &.mole--type-2 {
    background-color: $color-mole-super;
  }

  &.mole--type-3 {
    background-color: $color-mole-mega;
  }
}

@keyframes moveUpDown {
  0%,100% {
    bottom: -100%;
  }
  50% {
    bottom: 0;
  }
}